firebase-admin==3.2.1
Flask==1.1.1
grpcio==1.26.0
html-testRunner==1.2.1
Jinja2==2.11.1
reportlab==3.4.0
requests==2.18.4
requests-unixsocket==0.1.5
rsa==4.0
screen-resolution-extra==0.0.0
selenium==3.141.0
sessioninstaller==0.0.0
setproctitle==1.1.10
six==1.14.0
system-service==0.3
systemd-python==234
tinycss==0.4
typed-ast==1.4.1
ubuntu-drivers-common==0.0.0
Ubuntu-Make==18.5
ufw==0.36
uritemplate==3.0.1
urllib3==1.22
Werkzeug==0.16.1
wrapt==1.11.2
xkit==0.0.0
